.Footer{
    position: fixed;
    bottom: 0px;
    background-color: #2E4053; /* Dark blue background */
    width: 100%;
    text-align: center;
    color: #F7F7F7; /* Light gray text */
    min-height: 50px; /* Increased height for a more prominent footer */
    padding: 20px; /* Increased padding for better spacing */
    font-family: 'Roboto', sans-serif;
    font-size: 16px; /* Increased font size for better readability */
}